@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');

/*#1D3557*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  body {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: #EBEBEB;
    color: #2E2E2E;
  }
  
  /* Inicio do cabeçalho */
header{
  position: sticky;
  top: 0;
  z-index: 2;
  /*background-color: #1D3557;*/
  background-color: #1D3557;
  /*box-shadow: 0px 3px 10px #ffcc00;
  /*color: #FFFFFF;*/
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 1.5em 6em;
  
}

.logo{
  display: flex;
  align-items: center;
}
.logo h1{
  color: #FFFFFF;
}
.nav-list{
  display: flex;
  align-items: center;
}
.nav-list ul{
  display: flex;
  
  justify-content: center; 
  list-style: none;
}
.nav-item{
  margin: 0 15px;
  
}
.nav-link{
  
  position: relative;
  text-decoration: none;
  font-size: 1.15em;
  color: #ffffff;
  font-weight: 400;
}

.nav-link::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: #ffcc00;
  transition: 0.3s ease;
}
.nav-link:hover{
  color: #ffcc00;
}
.nav-link:hover::after{
  transform: translateX(-50%) scaleX(1);
}

.mobile-menu-icon{
  display: none;
}
.mobile-menu{
  display: none;
}
@media screen and (max-width: 835px){
  .nav-bar{
    padding: 1.5em 4em;
  }
  .nav-item{
    display: none;
  }
  .mobile-menu-icon{
    display: block;
  }
  .mobile-menu-icon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em; 
  }
  .mobile-menu .nav-item{
    display: block;
    padding-top: 1.2em;
  }
    .open{
      display: block;
  }
}

/* Fim do Cabeçalho */


/*Início da configuração padrão da section*/
section {
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;
  padding-right: 2rem;
  padding-left: 2rem; /* espaçamento vertical igual para todas */
}

section h2 {
  margin-bottom: 2rem;
  color: #1D3557; /* espaço entre o título e o conteúdo */
}

hr {
  margin: 0; /* zera margens padrão */
}
/*Fim da configuração padrão da section*/

/* Inicio do sobre */
.Sobre{
  position: static;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  /*background-color: #e0dfdf;*/
}


.Sobre h2{
  font-size: 2em;
}

.resumo-sobre-mim {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.resumo-sobre-mim img{
  width: 75.5%;
  max-width: 325px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 35px auto;
  box-shadow: 2.5px 2px 13px #000000;
  transform: scale(1);
  transition: transform 350ms ease;
}

.resumo-sobre-mim img:hover {
  transform: scale(1.05); 
  transition: 350ms linear; 
}

.resumo-sobre-mim p{
  line-height: 21px;
  text-align: justify;
}

.redes-sociais-logo{
  margin-top: 0.5em; 
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-direction: row;
}
.redes-sociais-logo img {
  width: 40px;
  height: auto;
  transform: translate(1);
  transition: transform 300ms ease, color 300ms ease;
}

.redes-sociais-logo img:hover{
  transform: translateY(-5px);
  transition: 300ms linear;
}

@media screen and (max-width: 730px){
  .Sobre{
    position: static;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /*background-color: #e0dfdf;*/
  }
  .Sobre h2{
    font-size: 1.7em;
  }

  .resumo-sobre-mim img {
    width: 250px;
    height: 250px;
    min-width: unset;
  }

}

/*Fim do Sobre mim*/

/*inicio dos cards/projetos*/
.projetoh2{
  text-align: center;
  margin-top: 5.5em;
  margin-bottom: 0.9375em;
}

div.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

div.cards div.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  padding: 1em 1.5em;
  border-radius: 8px;
  max-height: 256px;
  margin-left: 32px;
}

div.cards div.card:first-child{
  margin-left: 0;
}

div.cards div.card div.icon{
  width: 64px;
  height: 64px;
}

div.cards div.card div.icon img{
  width: 100%;
}

div.cards div.card button{
  padding: 0.5em 1em;
  text-transform: uppercase;
  border-radius: 32px;
  color: #1D3557;
  background-color: #FFFFFF;
  border: 2px solid #1D3557;
  cursor: pointer;
  font-size: 80%;
  font-weight: 700;
}

div.cards div.card{
  box-shadow: 20px 20px 50px -30px #001aff;
}

/*Parei no minuto 17:11*/
/* Fim dos cards */

/*Início das habilidades*/
.titulo-habilidades h2{
  text-align: center;
}

.habilidades{
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-direction: row;
  /*cursor: pointer;*/
}
.habilidades img{
  width: 40px;
  height: auto;
  transform: translate(1);
  transition: transform 300ms ease, color 300ms ease;
}

.habilidades img:hover{
  transform: translateY(-5px);
  transition: 300ms linear;
}
/*Fim das habilidades*/

/**Início do formulario send a message*/
.conteiner{
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.fieldset-sendAMessage{
  padding: 15px; 
  border-radius: 10px; 
  border: 2px solid #1D3557;
}

.fieldset-sendAMessage legend{
  color: #1D3557;        /* cor do texto */
  font-weight: bold;      /* opcional */
  font-size: 1.1rem;      /* opcional */
  padding: 0 0.5rem; 
}

.entre-em-contato label{
  font-weight: 501;
  color: #1D3557;
  
}

.entre-em-contato input{
  width: 100%;
  padding: 8px 0px;
  margin: 10px 0px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.entre-em-contato input[type=email]{
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  font-family: "Montserrat Alternates", sans-serif;
  border: 1px solid #ededed;
}

.entre-em-contato textarea{
  resize: none;
  width: 100%;
  height: 120px;
  padding: 10px;
  margin-top: 15px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1em;
  border: 1px solid #ededed;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.entre-em-contato button{
  /*cursor: pointer;*/
  font-weight: bold;
  background-color: #1D3557;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 300ms ease;
}

.entre-em-contato button:hover{
  /*background-color: #4cffd5;*/
  background-color: #ffff;
  color: #1D3557;
  cursor: pointer;
  transition: color 300ms ease; 
  transition: background-color 300ms ease; 
}

/*Início do footer
footer{
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}*/

.rodape{
  color: white;
  background-color: #1D3557;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rodape p{
  font-size: 0.8rem;
}

.rodape a{
  cursor: pointer;
  color: #FFFFFF;
}